{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Task List</title>
</head>

<body>
    <section class="tasklist-container">
        <article class="tasklist">
            <form action="" method="post">
                {% csrf_token %}
                <h1 class="tasklist-title">Task List</h1>
                <div class="tasklist-add-input">
                    {{form}}
                </div>
                <div class="tasklist-add-button">
                    <input type="submit" value="Update">
                </div>
            </form>
        </article>
    </section>
</body>

</html>